/* Colors txt */
:root {
  /* Colors txt */
  --primary-txt-cl: #2e2f42;
  --secondary-txt-cl: #434455;
  --light-txt-cl: #ffffff;
  --logo-darck-cl: #4d5ae5;
  --logo-light-cl: #f4f4fd;
  --pressed-txt-cl: #404bbf;

  /* Colors bg */
  --primary-bg-cl: #ffffff;
  --secondary-bg-cl: #2e2f42;
  --grey-light-cl: #f4f4fd;
  --pressed-bg-cl: #404bbf;

  /* Fonts */
  --primary-font: Roboto;
  --secondary-font: Raleway;
}

.body {
  font-family: var(--primary-font);
  letter-spacing: 0.02em;
  font-size: 16px;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.header {
}
.header-nav {
}
.logo-link {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-txt-cl);
  font-family: var(--secondary-font);
}
.logo-link.second {
  color: var(--logo-light-cl);
}
.logo-color {
  color: var(--logo-darck-cl);
}
.nav-list {
}
.nav-link {
  font-weight: 500;
  line-height: 1.5;
  color: var(--primary-txt-cl);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-txt-cl);
}

.contact {
}
.contact-link {
  font-style: normal;
  line-height: 1.5;
  color: var(--secondary-txt-cl);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-txt-cl);
}
.list {
}
.contact-item {
}
/* Styles for  HERO */

.hero {
  background-color: var(--secondary-bg-cl);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--light-txt-cl);
}
.hero-btn {
}
.btn {
}
